body {
  background-color: #bce7d8;
  font-family: "Architects Daughter", cursive; 
  margin: 40px;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

h3 {
  font-style: italic;
  text-align: center;
  margin-bottom: 40px;
}

.row {
  display: flex;
}

.placeholder {
  width: 50%;
}

/* style for the chat bubble */

.chat {
  width: 50%;
  overflow-wrap: break-word;
  border-radius: 10px;
  border: 1px solid black;
  margin:20px;
  padding: 0px 7px;
}

.noBorder {
  border: none;
}

.botChat {
    background-color:#74B49B;
}

.userChat {
  background-color: #72b3ad;
}

/* style for the timestamp line */

.timestamp {
  font-family: 'Space Mono', monospace;
  font-size: x-small;
  width: 50%;
  overflow-wrap: break-word;
  margin: -20px 0 0 25px;
}

/*style for the input form */

.formElement{
  border-radius: 10px;
  padding: 5px;
  font-family: "Architects Daughter", cursive;
}

.large {                           
  display: inline-block; 
}
.small {
  display: none;
}

@media (max-width:2000px) {
  input {
  width:90%;
    }
}

@media (max-width: 1407px) {
  input {
    width: 70%;
  }
}

@media (max-width: 560px) {
  input {
    width: 50%;
  }
  .large {
    display: none; 
  }
  .small {
    display: inline-block;
  }

}

.btn {
  background-color: rgb(223, 217, 217);
}




 /* Notes 
  How to use media query to change the placeholder text:
  https://stackoverflow.com/questions/18176102/swap-placeholder-text-based-on-resolution-media-query 
  */