body {
  background-color: #bce7d8;
  font-family: "Architects Daughter", cursive; /* Google Font */
}

.row {
  display: flex;
}

.placeholder {
  width: 50%;
}

.chat {
  width: 50%;
  overflow-wrap: break-word;
  border-radius: 10px;
  border: 1px solid black;
  margin:20px;
  padding: 0px 7px;
}

.noBorder {
  border: none;
}

.botChat {
    background-color:#74B49B;;
}

.userChat {
  background-color: #72b3ad;

}


.form {
  display:flex;
}

.formElement{
  border-radius: 10px;
  padding: 5px;
  font-family: "Architects Daughter", cursive;
}

.input {
  width:85%;
}

.btn {
  background-color: rgb(223, 217, 217);
}

.timestamp {
  font-size: x-small;
  width: 50%;
  overflow-wrap: break-word;
  margin: -20px 0 0 25px;
}
